@import "./colors.scss";

.wrapper {
  position: relative;
}

.header {
  padding-top: 40px;
  position: relative;
  max-width: 100%;

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-menu {
    &__button {
      position: relative;
      width: 25px;
      height: 16px;
      cursor: pointer;
      z-index: 1;
      transition: width .25s;

      span {
        width: 25px;
        height: 2px;
        background: $white;
        position: relative;
        display: block;

        &:before,
        &:after {
          display: block;
          content: '';
          position: absolute;
          width: 12px;
          height: 2px;
          background: $white;
          transition: width .25s;
        }
        &:after {
          top: 5px;
        }
        &:before {
          top: 10px;
          width: 25px;
        }
      }
    }

    &__list {
      margin-left: 50px;
      z-index: -1;
      ul {
        display: flex;
        justify-content: center;
        column-gap: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
        transform: translateX(-200px);
        opacity: 0;
      }
    }

    &__link {
      position: relative;
      color: rgba(255, 255, 255, .5);
      transition: color .25s;

      &:hover {
        color: $violet;
      }

      &.lang {
        color: $white;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          .header-menu__languages {
            display: block;
          }
        }

        svg {
          width: 12px;
          height: 12px;
          fill: $white
          transform rotate(180deg);
          margin-left: 9px;
        }
      }
    }

    &__languages {
      padding: 10px 15px;
      border-radius: 6px;
      background: $dark;
      position: absolute;
      top: 100%;
      display: none;
    }

    &__language {
      font-weight: 500;
      cursor: pointer;
      font-size: 13px;
      color: rgba(255, 255, 255, .5);
      transition: color .25s;

      &:hover {
        color: $violet;
      }
    }
  }

  &.open {
    .header {
      &-menu {
        &__button {
          span {
            width: 12px;

            &::after {
              width: 25px;
            }

            &::before {
              width: 12px;
            }
          }
        }
        &__list {
          z-index: 1;

          ul {
            opacity: 1;
            transform: translateX(0);
            transition: opacity .2s, transform .25s;
          }
        }
      }
    }
  }
}

.timer {
  display: flex;
  margin-left: auto;
  column-gap: 19px;

  &-values {
    display: flex;
    column-gap: 10px;
  }

  span {
    font-weight: 400;
    line-height: 19px;
    color: $gray;
  }

  &-item {
    color: $sea;
    &__value {
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      min-width: 55px;
      text-align: center;
    }
    &__info {
      text-align: center;
      font-weight: 400;
    }
  }
}

.section {
  &-description {
    position: relative;
    min-height: 70vh;

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 764px;
      width: 1363px;
      z-index: -1;
    }

    &:after {
      background: url(../images/snow.svg) no-repeat center/cover;
      opacity: .1;
    }

    &:before {
      background: url(../images/bg.png) no-repeat center/cover;
    }
  }
}

.description {
  padding-top: 7%;
  max-width: 540px;
  animation: move 1s ease-in-out;

  &-title {
    h1 {
      font-weight: 600;
      font-size: 100px;
      line-height: 100px;
    }
  }
  &-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $sea;
    margin-top: 26px;
  }
}

@keyframes move {

  0% {
    opacity: 0;
    transform: translateX(-400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px)
  }

}